### AI Model ###
LLM_BASE_URL=http://localhost:11434
MODEL=qwen2.5-coder:1.5b

### APP .env stuff ###
APP_NAME=CloudPilot
DEBUG_MODE=True
APP_PORT=3000
HOST=localhost

### MongoDB Configuration ###
MONGO_URI=mongodb://admin:password@localhost:27017
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_DB_NAME=cloudpilot

### Incus Configuration ###
INCUS_URL=https://host.docker.internal:8443

### WebSearch Config ###
SEARXNG_URL=http://searxng:8080